body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #000, #565555);
    color: white;
}
.gimg { 
    height: 200px;
}

#chordContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#submitBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#submitBtn:disabled {
    background-color: #ccc;
    cursor: pointer;
}
