
body {
 background-color: #060f1d;
 color: aliceblue;
 height: 100vh; 
 display: grid;
 justify-content: center;
 align-content: center;
 text-align: center;
 background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
 filter: drop-shadow(0 0 10px white);
 font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
 
  }

h1 {
    font-size: 3em;
    color: #efe6af; 
    letter-spacing: 5px;
    margin: 0;
    animation: title 2s infinite alternate; 
}

@keyframes title {
  from {
    transform: translateY(-5px);
  }
 to {
   transform: translateY(5px);
  }
}

.snowflake { 
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  to {
      transform: translateY(200vh);
  }
}