#item1 {
  grid-area: item1;
}

#item1 img {
  max-width: 100%;
  height: auto;
  border: 2px solid black;
}

#item2 {
  grid-area: item2;
}

#item2 img {
  max-width: 100%;
  height: auto;
  border: 2px solid black;
}

#item3 {
  grid-area: item3;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.container {
  border: 2px solid #f76407;
  border-radius: 5px;
  background-color: #fff4e6;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 20px;
  grid-template-areas:
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item2 item2 item2"
    "item1 item1 item1 item1 item1 item1 item3 item3 item3"
    "item1 item1 item1 item1 item1 item1 item3 item3 item3"
    "item1 item1 item1 item1 item1 item1 item3 item3 item3";
}

.container > div {
  border: 2px solid black;
  border-radius: 5px;
  background-color: darkgray;
  padding: 1em;
  color: gray;
  text-align: center;
}
